*{
    margin: 0 auto;
    font:14px Georgia,'Microsoft Yahei', 'Times New Roman', Times, serif;
}

body{
    background: rgb(225, 238, 210);
}

/*页眉的样式*/
.header{
    position: relative;
    width: 100%;
    height: 80px;
    background:rgb(18, 53, 85);
}

.icon{
    position: absolute;
    bottom: 0;
    right: 10px;
}

@media (max-width:980px){
    .icon{
        display: none;}
}

.header-container{
    position: relative;
    width:980;
    height: 80px;
}

.logo{
    position: absolute;
    bottom: 0;
    margin: 10px;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
}

.nav-warp{
    float: right;
}

.nav{
    position: absolute;
    right: 0;
    bottom: 0;
}

.nav li{
    float: left;
    list-style-type: none;
    margin-right: 28px;
    margin-bottom: 5px;
}

.nav a{
    text-decoration: none;
    color: #fff;
}
.nav a:hover{
    color:#ffefd5;
}

/*中心内容的样式*/

.inner-main{
    
    padding-bottom: 150px;
}

.inner-main-container{
    width: 980px;
    position: relative;
}

.main{
    position: relative;
    width: 685px;
    margin: 20px 0;
}

/*article-label*/
.article-label{
    position:absolute;
    left: -40px;
}

.article-label div{
    width: 40px;
    height: 30px;
    color: #fff;
    line-height: 30px;
}

.label-top{
    text-align: center;
    background: rgb(18, 53, 85);
}
.label-bottom{
    text-align: center;
    background: rgb(209, 73, 78);
}

.content{
    padding: 20px 15px;
    margin-bottom: 15px;
    background: #fff;
}

.content *{
    line-height: 170%;
}

.content h1{
    font-size: 16px;
    color: rgb(18, 53, 85)
}

.content h2{
    font-size: 12px;
    color: #666;
    padding-bottom: 1em;
}

.content p{
    font-size: 12px;
    text-indent: 2em;
}

.author{
    text-align: right;
    color: #808080;
    padding-top: 2em;
}

.pages ul{
    text-align: center;
    list-style-type: none;
    padding: 10px;
}

.pages li{
    display: inline;
    background: #fff;
    padding: 10px 15px;
    margin: 5px;
}

.pages li.page-now{
    background:rgb(18, 53, 85);
}

/*sidebar*/

.sidebar{
    position: absolute;
    width: 280px;
    height: 500px;
    right: 0;
}

.sidebar>div{
    position: relative;
    background: #fff;
    width:100%;
    margin-bottom: 15px;
}


/*搜索栏*/

.sidebar-search{
    padding: 25px 0;
}

.search-warp{
    position: relative;
    width: 230px;
    height: 50px;
    left: 50%;
    margin-left: -115px;
    text-align: center;
    border: solid 1px rgb(18, 53, 85);
    opacity: 0.5;
    display: block;
}

.search-input{
    float: left;
    height: 50px;
    width: 180px;
    text-indent: 50px;
    border: none;
}

/*日历*/


.calendar{
    display: block;
    width: 220px;
    padding: 20px 0 30px 0 ;
    text-align: center;
    border-collapse: collapse;
    color:rgba(18, 53, 85,1);
    font-size: 12px;
}

.not-this-month{
    color: rgba(18, 53, 85,0.5);
}



.calendar th,td{
    text-align: center;
    width: 35px;
    height: 25px;
    line-height: 20px;
}

.calendar th{
    color: rgba(18, 53, 85,1);
    font-weight: bold;
    height: 35px;
    font-size: 16px;
}

.calendar tr{
    border-bottom: solid 1px rgba(18, 53, 85,0.5);
}

.calendar-today{
    background: rgba(18, 53, 85,1);
    color: #fff;
}

.tags-warp{
    width: 220px;
    padding: 20px;
    line-height: 170%;
}

.tags-warp h1{
    color: #666;
    padding: 0 0 10px 0;
}


.tags-large{
    font-size: 20px;
    font-weight: bold;
    color:rgba(18, 53, 85,1);
}

.tags-mid{
    font-size: 16px;
    font-weight: bold;
    color: rgb(209, 73, 78);
}

.tags-small{
    font-size: 12px;
    color: #666;
}



/*



.sidebar-calendar ul{
    text-align: center;
    list-style-type: none;
    padding: 0px;
}

.sidebar-calendar li{
    display: inline;
}

.calendar-left,.calendar-right,.calendar-mid{
    padding: 5px 33px;
}

.calendar-week{
    margin: 5px 0;
}

.calendar-week li{
    padding: 2px;
    background: yellow;
}

.calendar-date{
    margin: 5px 0;
}

.calendar-date li{
    padding: 0 0 0 1.6em;
    background: yellow;
}

*/



.search-button{
    position:absolute;
    width: 50px;
    height: 50px;  
    right: 0;
    color: #fff;
    font-size: 20px;
    background: rgb(18, 53, 85);
    border: none;
}

.search-button:hover{
    background: rgb(209, 73, 78);
}

.search-warp:hover{
    opacity: 1;
}

.search-glass{
    position: absolute;
    width: 30px;
    height: 30px;
    margin: 5px 5px 6px 5px;
    border: solid 2px rgb(18, 53, 85);
    border-radius: 25px;
}

.search-glass-bar{
    position: absolute;
    width: 10px;
    transform: rotate(45deg);
    top: 35px;
    left: 32px;
    border: solid 1px rgb(18, 53, 85);
}

/*边栏 目录*/
.sidebar-menu *{
    color: rgba(18, 53, 85,0.7);
    text-decoration: none;
}

.sidebar-menu div{
    width: 255px;
    height: 50px;
    padding-left: 20px;
    line-height: 50px;
    margin-bottom: 1px;
    border-width: 0 0 1px 5px;
    border-color: rgba(18, 53, 85,0.5);
    border-style: solid;
}

.sidebar-menu div:hover{
    border-left-color: rgba(18, 53, 85,1);
    color: rgba(18, 53, 85,1);
}


/*页脚的样式*/

.footer{
    position: relative;
    width: 100%;
    color: #fff;
    background:rgb(209, 73, 78);
}

.footer-container{
    position: relative;
    width:980px;

    /*background:rgb(209, 73, 78);*/
}

.footer-nav-warp{
    height: 30px;
    border-bottom: solid 1px rgb(225, 238, 210);
}

/*footer-nav*/
.footer-nav{
    text-align: center;
    padding: 5px 28px;
}

.footer-nav a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
}

.footer-nav a:hover{
    color:#ffefd5;
}

.footer-nav li{
    list-style-type: none;
    display: inline;
    padding: 14px;
}

/*footer-link*/
.footer-link-warp{
    padding: 30px 30px;
    color: white;
}

.footer-link{
    float: left;
    width: 100px;
    padding: 30px 40px;
}

.footer-link p{
    padding: 20px 0;
}

.footer-link li{

    line-height: 170%;
    list-style-type: none;
}

.footer-link a{
    text-decoration: none;
    font-size: 12px;
    color: white;
}

.footer-link a:hover{
    text-decoration: underline;
}

/*版权信息*/

.copyright{
    clear: left;
    text-align: center;
}

.copyright p{
    padding: 20px;
}

.copyright a:hover{
    opacity: 0.7;
}
