*{
    margin: 0 auto;
    font: 14px 'Microsoft YaHei', sans-serif;
}

code{
    font-family: 'Microsoft YaHei', sans-serif;
    font-size: 12px;
}

body{
    background: rgb(225, 238, 210);
}

/*页眉的样式*/

.header{
    position: relative;
    width: 100%;
    height: 80px;
    background:rgb(18, 53, 85);
}

.icon{
    position: absolute;
    bottom: 0;
    right: 10px;
}

@media (max-width:980px){
    .icon{
        display: none;}
}

.header-container{
    position: relative;
    width:980;
    height: 80px;
}

.logo{
    position: absolute;
    bottom: 0;
    margin: 10px;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    font-family: Georgia,'Microsoft Yahei', 'Times New Roman', Times, serif;
}

.nav-warp{
    float: right;
}

.nav{
    position: absolute;
    right: 0;
    bottom: 0;
}

.nav li{
    float: left;
    list-style-type: none;
    margin-right: 28px;
    margin-bottom: 5px;
}

.nav a{
    text-decoration: none;
    color: #fff;
}
.nav a:hover{
    color:#ffefd5;
}

/*中心内容的样式*/



.main-container{
    width: 980px;
    margin-bottom: 200px;
    margin-top: 100px;
    position: relative;
}

.main-article-warp{
    position: relative;
    width: 700px;
    margin: 20px 0;
}

/*article-label*/
.article-label{
    position:absolute;
    left: -50px;
}

.article-label div{
    width: 50px;
    height: 40px;
    color: #fff;
    line-height: 40px;
}

.label-top{
    text-align: center;
    background: rgb(18, 53, 85);
}
.label-bottom{
    text-align: center;
    background: rgb(209, 73, 78);
}

.content{
    padding: 20px 20px;
    margin-bottom: 15px;
    background: #fff;
}

.content *{
    line-height: 170%;
}

.content h1{
    font-size: 16px;
    color: rgb(18, 53, 85)
}

.content h2{
    font-size: 12px;
    color: #666;
    padding-bottom: 1em;
}

.content p{
    font-size: 12px;
    text-indent: 2em;
}

.author{
    clear: right;
    text-align: right;
    color: #808080;
    padding-top: 2em;
}

.pages a{
    text-decoration: none;
    color: #000;
}

.pages a:hover{
    opacity: 0.7;
}

.pages ul{
    text-align: center;
    list-style-type: none;
    padding: 10px;
}

.pages li{
    display: inline;
    background: #fff;
    padding: 10px 15px;
    margin: 5px;
}

.pages li.page-now{
    background:rgb(18, 53, 85);
    color: #fff;
}

/*sidebar*/

.sidebar{
    position: absolute;
    width: 260px;
    height: 500px;
    right: 0;
}

.sidebar *{
    font-family: Georgia,'Microsoft Yahei', 'Times New Roman', Times, serif;
    color: rgba(18, 53, 85,1);
}

.sidebar>div{
    position: relative;
    background: #fff;
    width:100%;
    margin-bottom: 15px;
}

.sidebar h1{
    font-size: 16px;
    color: #666;
    padding: 0 0 10px 0;
}

/*搜索栏*/

.sidebar-search{
    width: 260px;
    padding: 20px 0;
}

.search-warp{
    position: relative;
    width: 210px;
    height: 40px;
    border: solid 1px rgba(18, 53, 85,0.5);
    background: #fff;
}

.search-glass{
    position: absolute;
    width: 20px;
    height: 20px;
    margin: 5px 5px 6px 5px;
    border: solid 2px rgb(18, 53, 85);
    border-radius: 25px;
    opacity: 0.5;
}

.search-glass-bar{
    position: absolute;
    width: 8px;
    transform: rotate(45deg);
    top: 20px;
    left: 17px;
    border: solid 1px rgb(18, 53, 85);
}

.search-text{
    float: left;
    padding: 0 0 0 40px;
    width: 160px;
    height: 40px;
    border: none;
    background: inherit;
    color: rgba(18, 53, 85,0.5);
}

.search-text:hover{
    color: rgba(18, 53, 85,1);
}

.search-button{
    width: 50px;
    height: 40px;
    border: none;
    color: #fff;
    background: rgba(18, 53, 85,0.5);
}

.search-button:hover{
    background: rgba(18, 53, 85,1);
}

/*边栏 目录*/

.sidebar-menu ul{
    margin: 0;
    padding: 0;
}

.sidebar-menu li{
    list-style-type: none;
    height: 20px;
    line-height: 20px;
}

.sidebar-menu a{

    /*确定大小*/
    display: block;
    width: 230px;
    padding: 16px 0 16px 25px;
    margin-bottom: 1px;
    background:#fff;
    
    /*内容*/   
    text-decoration: none;
    color:rgba(18, 53, 85,0.5);
    
    /*边框*/
    border-width: 0 0 1px 5px;
    border-color: rgba(18, 53, 85,0.5);
    border-style: solid;
}

.sidebar-menu a:hover{
    border-left-color:rgba(18, 53, 85,1);
    color: rgba(18, 53, 85,1);
}


/*日历*/


.calendar{
    display: block;
    width: 220px;
    padding: 20px 0 30px 0 ;
    text-align: center;
    border-collapse: collapse;
    color:rgba(18, 53, 85,1);
    font-size: 12px;
}

.not-this-month{
    color: rgba(18, 53, 85,0.5);
}

.calendar th,td{
    text-align: center;
    width: 35px;
    height: 25px;
    line-height: 20px;
}

.calendar th{
    color: rgba(18, 53, 85,1);
    font-weight: bold;
    height: 35px;
    font-size: 16px;
}

.calendar tr{
    border-bottom: solid 1px rgba(18, 53, 85,0.5);
}

.calendar-today{
    background: rgba(18, 53, 85,1);
    color: #fff;
}

/*标签群*/

.tags-warp{
    width: 220px;
    padding: 20px;
    line-height: 170%;
}

.tags-large{
    font-size: 20px;
    font-weight: bold;
    color:rgba(18, 53, 85,1);
}

.tags-mid{
    font-size: 16px;
    font-weight: bold;
    color: rgb(209, 73, 78);
}

.tags-small{
    font-size: 12px;
    color: #666;
}

/*gallery专用*/

.gallery-content{
    position: relative;
    padding: 20px 20px 60px 20px;
    min-height: 600px;
    background: #fff;
    margin-top: 70px;
}

.gallery-article article{
    margin-bottom: 10px; 
}

.gallery-article img{
    width: 100%;
}

.article-text-warp{
    padding: 10px;
}

.article-text-warp *{
    color: #fff;
    line-height: 170%;
}

.article-text-warp p{
    font-size: 12px;
}

.article-type{
    float: left;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    color: #fff;
    border: solid 1px #fff;
    border-radius: 50%;
}

.article-text{
    margin-left: 35px;
}

/*瀑布流布局*/

.article-left{
    float: left;
    width: 325px;
    margin-right:10px;
}

.article-center,.article-left-left{
    float: left;
    width: 157.5px;
    margin-right:10px;
}

.article-right,.article-left-right{
    float: left;
    width: 157.5px;
}

/*对应颜色*/

.article-js{
    background: rgba(209, 73, 78,1);
}

.article-ui{
    background: rgba(230, 155, 3,1);
}

.article-frame{
    background: rebeccapurple;
}
.article-app{
    background: rgba(18, 53, 85,1);
}


/*gallery标签*/

.gallery-tab{
    position: absolute;
    top:-56px;
    left: 0;
    height: 60px;
    margin-bottom: 100px;
}

.gallery-tab a{
    float: left;
    text-decoration: none;
    height: 20px;
    padding: 15px;
    margin-right: 1px;
    background-color: #fff;
    color: rgba(18, 53, 85,0.5);
}

.gallery-tab a:hover{
    color: rgba(18, 53, 85,1);
    border-bottom: solid 1px #fff;
}

.tab-all{
    border-top: solid 5px rgba(18, 53, 85,0.5);
}
.tab-all:hover{
    border-top: solid 5px rgba(18, 53, 85,1);
}

.tab-js{
    border-top: solid 5px rgba(209, 73, 78,0.5);
}
.tab-js:hover{
    border-top: solid 5px rgba(209, 73, 78,1);
}
.tab-ui{
    border-top: solid 5px rgba(230, 155, 3,0.5);
}
.tab-ui:hover{
    border-top: solid 5px rgba(230, 155, 3,1);
}
.tab-frame{
    border-top: solid 5px rgba(219, 208, 167,0.5);
}
.tab-frame:hover{
    border-top: solid 5px rgba(219, 208, 167,1);
}
.tab-app{
    border-top: solid 5px rgba(255, 238, 210,0.5);
}
.tab-app:hover{
    border-top: solid 5px rgba(255, 238, 210,1);
}

/*gallery中的人气排行榜*/

.rank-warp{
    padding: 20px;
}

.rank-warp ol{
    padding-left: 20px;
    list-style-type: none;
}

.rank-warp li{
    position: relative;
    padding: 5px 0 5px 110px;
    height: 1em;
    line-height: 1em;
}

.rank-warp li>div{
    position: absolute;
    left: 3px;
    width: 100px;
    height: 1em;
    background: #fff;
    border: solid 1px rgba(18, 53, 85,1);
}

.rank-warp span{
    position: absolute;
    left: -2em;
    top: -0.1em;
    width: 1em;
    height: 1em;
    padding: 0.2em;
    line-height: 1.2em;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    font-size: 12px;
    background: rgba(18, 53, 85,1);
}

.li-no-01,.li-no-02,.li-no-03,.li-no-04,.li-no-05{
    position: absolute;
    left: 0px;
    height: 1em;
    background: rgba(18, 53, 85,1);
}

.li-no-01{
    width: 100%;
}
.li-no-02{
    width: 80%;
}
.li-no-03{
    width: 60%;
}
.li-no-04{
    width: 40%;
}
.li-no-05{
    width: 20%;
}


/*about.html页面样式*/

.about-left,.about-right{  
    width: 487.5px;
    height:1000px;
    padding-top: 120px;
    background: #fff;
}

.about-left{
    float: left;
    margin-right:5px;
    text-align: right;
    font-size: 20px;  
}

.about-left div{
    text-align: right;
    font-size: 20px;  
    padding-right: 80px;
}

.about-right{
    position: relative;
    margin-left: 492.5px;
}

.about-portrait{
    position: absolute;
    top:-70px;
    left: 404px;
    z-index: 1;
    border: solid 8px rgb(225, 238, 210);
    border-radius: 50%;
}

.about-name{
    padding: 20px 40px;
    height: 80px;
}

.about-name-right{
    text-indent: 2em;
    padding-right: 150px;
}

.about-contact{
    position: relative;
    padding: 130px 40px 20px 40px;
    height: 80px;
}

/*教育经历*/

.about-edu{
    position: relative;
    padding: 130px 40px 20px 40px;
    height: 160px;
}

.about-job{
    position: relative;
    padding: 130px 40px 20px 40px;
    height: 160px;
}

.about-imformation{
    position: relative;
    padding:0 0 30px 10px;
}

.about-imformation :first-child{
    position: absolute;
    text-align: center;
    width: 60px;
    height: 20px;
    left:-77.5px;
    top: 5px;
    background: #fff;
    border: solid 5px rgb(225, 238, 210);
    border-radius: 10px;
}

/*图片居中*/

.about-pic{
    position: absolute;
    top: 0;
    left: -57.5px;
    width: 100px;
    height: 100px;
    border: solid 5px rgb(225, 238, 210);
    border-radius: 50%;
}


/*页脚的样式*/

.footer{
    position: relative;/*20161014 relative ==> absolute*/
    width: 100%;
    color: #fff;
    background:rgb(209, 73, 78);
}

.footer-container{
    position: relative;
    width:980px;

    /*background:rgb(209, 73, 78);*/
}

.footer-nav-warp{
    height: 30px;
    border-bottom: solid 1px rgb(225, 238, 210);
}

/*footer-nav*/
.footer-nav{
    text-align: center;
    padding: 5px 28px;
}

.footer-nav a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
}

.footer-nav a:hover{
    color:#ffefd5;
}

.footer-nav li{
    list-style-type: none;
    display: inline;
    padding: 14px;
}

/*footer-link*/
.footer-link-warp{
    padding: 30px 30px;
    color: white;
}

.footer-link{
    float: left;
    width: 100px;
    padding: 30px 40px;
}

.footer-link p{
    padding: 20px 0;
}

.footer-link li{

    line-height: 170%;
    list-style-type: none;
}

.footer-link a{
    text-decoration: none;
    font-size: 12px;
    color: white;
}

.footer-link a:hover{
    text-decoration: underline;
}

/*版权信息*/

.copyright{
    clear: left;
    text-align: center;
    
}

.copyright p{
    padding: 20px;
    font-size: 12px;
}

.copyright a:hover{
    opacity: 0.7;
}



